
.container{
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
background-color:   #669999;
}
.bar{
    display: flex;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.cir-holder{
    display: flex;
    position:absolute;
    height: 50vh;
    background-color: transparent;
    width: 60vw;
    align-items: center;
    justify-content: center;
}
.circle{
    height: 150px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-inner{
    height: 50%;
    width: 50%;
    background-color: #476b6b;
    border-radius: 50%;
}